{{!
{
  "name": "index",
  "resources": {},
  "preprocessor": "global.js"
}
}}

{{! Begin Placeholder Content }}

<h1>Welcome to Solidus! <code>\o/</code></h1>
<p>To get started, read the <a href="https://github.com/sparkartgroupinc/developers.sparkart.com/wiki">Sparkart Developers wiki</a> for detailed information about Solidus tools and best practices.</p>
<ul>
  <li id="cssVerification">CSS is not working!</li>
  <li id="jsVerification">JS is not working!</li>
</ul>
<p>Please remove this placeholder content before getting started.</p>

{{! End Placeholder Content }}
